body{
    background-color:#e0e0e0;
	margin:0;
	padding-top:1%;
}

#wrapper{
    background-color:#8EE3CC;
    width:65%;
    height:auto;
	margin:auto;
    min-width: 25%;
    overflow:hidden;
}

footer{
   height:50px;
   width:100%;
   background:#999;
   overflow:hidden;
   text-align:center;
}

nav {
    margin-left: 3%;
    overflow: hidden;
    margin-top: 1%;
    width: 20%;
    float: left;
    list-style-type: none;
}
nav a{
    display:block;
    font-size:25px;
    font-weight:bold;
}

header{
	padding-top:2%;
	width:100%;
	margin:auto;
}

header a{
	display:block;
}

header img {
	width:100%;
}

#content{
    width:70%;
    margin-top:1%;
    background-color:yellow;
    float:right;
    overflow:hidden;
    margin-bottom:1%;
	margin-right:3%;
}

.active{
    background-color:black;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

nav li{
    left:0;
    margin-left:0;
    background-color:green;
}

nav a:hover{
    background-color:blue;
}

#content dl,p,h3,a{
    margin-left:3%;
    margin-right:3%;
}

h1{
    text-align:center;
}

#content form{
	width:50%;
	margin:auto;
    margin-bottom:1%;
	align-content:center;
}

p{
    font-family:Calibri;
}

video{
    margin-left:1%;
}

h2{
    background:url("img/css/scroll.png") no-repeat;
	padding-left:25px;
    border-bottom: 1px solid black;
    margin-left:1%;
}

.bilditext{
    float:right;
    margin-right:1%;
}

section p{
    margin-left:3%;
}

.tabell {
	width:325px;
	padding-right:3%;
	float:right;
}

.tabell th, td{
    width: 50%;
	background-color:cyan;
}