body{
    background-color:#e0e0e0;
	margin:0;
	padding-top:1%;
}

#wrapper{
    background-color:#8EE3CC;
    width:65%;
    height:auto;
	margin:auto;
    min-width: 25%;
    overflow:hidden;
}

footer{
   height:50px;
   width:100%;
   background:#999;
   overflow:hidden;
   text-align:center;
}

nav {
    margin-left: 3%;
    overflow: hidden;
    margin-top: 1%;
    width: 25%;
    float: left;
    list-style-type: none;
}
#start {
	background-color:green;
	background: url('img/css/sprite.png') no-repeat 0 0px;
	width: 24px;
	height: 22px;
	padding-left:30px;
}


#lab {
	background: url('img/css/sprite.png') no-repeat 0 -97px;
	width: 24px;
	height: 22px;
	padding-left:30px;
}

#bio {
	background: url('img/css/sprite.png') no-repeat -1px -192px; 
	width: 22px;
	height: 24px;
	padding-left:30px;
}

#contact {
	background: url('img/css/sprite.png') no-repeat 0 -288px;
	width: 24px;
	height: 24px;
	padding-left:30px;
}

#start:hover{
	background-position:0 -49px;

}

#bio:hover{
	background-position:-1px -240px;
}

#lab:hover{
	background-position: 0 -145px;
}

#contact:hover{
	background-position: 0 -336px;
}

header{
	padding-top:2%;
	width:100%;
	margin:auto;
}

header a{
	display:block;
}

header img {
	width:100%;
}

#content{
    width:65%;
    margin-top:1%;
    background-color:yellow;
    float:right;
    overflow:hidden;
    margin-bottom:1%;
	margin-right:3%;
}

nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

nav li{
	padding-bottom:10px;
	background-color:green;
}

nav .active li {
	background-color:black;
}

nav li:hover{
    background-color:blue;
	font-weight:bold;
}

#content dl,p,h3,a{
    margin-left:3%;
    margin-right:3%;
}

h1{
    text-align:center;
}

#content form{
	width:50%;
	margin:auto;
    margin-bottom:1%;
	align-content:center;
}

p{
    font-family:Calibri;
}

video{
    margin-left:1%;
	width:65%;
	height:65%;
}

h2{
    background:url("img/css/scroll.png") no-repeat;
	padding-left:25px;
    border-bottom: 1px solid black;
    margin-left:1%;
}

.bilditext{
    float:right;
    margin-right:1%;
}

#warp{
    float:right;
    margin-right:1%;
}

section p{
    margin-left:3%;
}

.tabell {
	padding-right:3%;
	float:right;
	overflow:hidden;
}

.tabell th, td{
	background-color:cyan;
}

nav li a{
	font-size:1.1em;
    display:block;
    text-decoration:none;
    color:#E3DDCC;
}

#hcard-Alen-Lalko-Adzemovic{
	padding-left:3%;
}

aside {
	padding-left:3%;
}